body {
    background-color: lightgray;
    color: black;
    font-family: Arial, sans-serif;
    padding: 20px;
}

a {
    color: #f22443;
    text-decoration: none;
}

a:visited {
    color: #ad2a3d
}

a:hover {
    color: red;
    text-decoration: underline;
}


h1 {
    text-align: center;
}
table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
    padding: 10px;
}

th {
    background-color: lightblue;
    color: darkred;
}

tr:nth-child(2) td:first-child {
    background-color: #ffe6e6;
    color: darkgreen;
}
tr:nth-child(2) td:last-child  {
    background-color: #e6ffe6;
    color: navy;
}

tr:nth-child(3) td:first-child
{ background-color: #fff0b3;
    color: maroon;
}
tr:nth-child(3) td:last-child  {
    background-color: #cce0ff;
    color: purple;
}

tr:nth-child(4) td:first-child
{ background-color: #e0d4fd;
    color: darkblue;
}

tr:nth-child(4) td:last-child  {
    background-color: #f9d5e5;
    color: darkred;
}